<div
  class="flex cursor-pointer items-center gap-x-5 rounded-md bg-white px-2 py-1 hover:shadow-md hover:shadow-slate-400 md:px-6 md:py-4 md:hover:shadow-lg"
  [ngClass]="
    selected()
      ? 'border-[1px] border-slate-800'
      : 'border-[1px] border-transparent'
  "
>
  <div
    class="flex items-center justify-center rounded-full {{
      color()
    }} p-2 md:p-2"
  >
    <div
      class="flex size-4 items-center justify-center md:size-5 lg:size-6"
    >
      <ng-icon
        name="{{ icon() }}"
        [style.width.%]="100"
        [style.height.%]="100"
      ></ng-icon>
    </div>
  </div>
  <div class="flex flex-col">
    <div
      class="text-xs font-semibold uppercase text-slate-400 md:text-sm xl:text-base"
    >
      {{ text() }}
    </div>
    <div class="text-md md:text-lg xl:text-xl">{{ number() }}</div>
  </div>
</div>
