<div
  class="my-10 flex grow flex-col justify-start gap-y-6 overflow-y-scroll scrollbar-none"
>
  <div
    class="sticky top-0 flex items-center justify-between bg-slate-100 pb-5"
  >
    <div class="text-xl font-bold">Profile</div>
  </div>
  <div class="flex flex-wrap items-center gap-y-5 sm:gap-x-5">
    <user-image [image]="userInfo()?.data?.user?.photo" />
    <user-info [user]="userInfo()?.data?.user" />
    <upload-image
      handleSubmit="{handleSubmit}"
      uploadProfileImg="{uploadProfileImg}"
      errors="{errors}"
    />
  </div>
</div>
