@if (!query.data()?.authenticated) {
  <div
    class="flex h-screen w-screen items-center justify-center bg-slate-100 font-EBGaramond text-slate-800"
  >
    <div
      class="flex h-2/3 w-1/2 flex-col items-center gap-y-10 rounded-xl bg-white py-10"
    >
      <div class="flex flex-col items-center">
        <img src="/BlipsterIcon.png" alt="" class="size-20" />
        <div
          class="sticky top-0 bg-white pb-2 text-xl font-bold md:text-2xl xl:text-3xl dark:bg-slate-950"
        >
          Admin Login
        </div>
      </div>
      <div class="w-8/12 grow border-b-[1px] border-slate-200"></div>
      <form
        class="flex grow flex-col justify-between gap-y-10"
        [formGroup]="form"
        (ngSubmit)="login()"
      >
        <div class="flex flex-col gap-y-5">
          <div class="flex items-center gap-4 text-base xl:text-lg">
            <label class="basis-20 text-base font-medium">
              Username
            </label>
            <div class="grow text-base xl:text-lg">
              <input
                placeholder="username"
                class="input"
                type="text"
                id="username"
                [formControl]="form.controls.username"
              />
            </div>
          </div>
          <div class="flex gap-4">
            <div class="basis-20"></div>
          </div>

          <div class="flex items-center gap-4 text-base xl:text-lg">
            <label class="basis-20 text-base font-medium">
              Password
            </label>
            <div class="grow text-base xl:text-lg">
              <input
                type="password"
                class="input"
                placeholder="password"
                id="password"
                [formControl]="form.controls.password"
              />
            </div>
          </div>
          <div class="flex gap-4">
            <div class="basis-20"></div>
          </div>
        </div>

        <div class="flex flex-col items-center xl:mt-10">
          <button
            class="mb-2 rounded-full bg-slate-800 px-8 py-3 text-base uppercase text-white transition-colors duration-200 hover:bg-slate-700 focus:bg-slate-700 focus:outline-none xl:px-12 xl:text-xl dark:bg-white dark:text-black dark:hover:bg-slate-200"
          >
            @if (isLoading()) {
              <spinner [inputWidth]="'h-4'" />
            } @else {
              Login
            }
          </button>
        </div>
      </form>
    </div>
  </div>
}
