<form
  [formGroup]="form"
  (ngSubmit)="upload()"
  class="flex w-full flex-col justify-start gap-y-3 text-base md:w-fit md:text-lg"
>
  <label>Choose picture:</label>
  <input
    id="profileImg"
    type="file"
    class="file:mr-5 file:cursor-pointer file:rounded-lg file:border-0 file:bg-slate-900 file:px-2 file:py-1 file:text-base file:text-white file:hover:bg-slate-700 file:xl:text-lg dark:file:bg-white dark:file:text-black dark:file:hover:bg-slate-200"
    [formControl]="form.controls.file"
    (change)="onImageSelected($event)"
  />
  <div class="flex items-center gap-x-4">
    <button
      class="flex w-fit items-center gap-x-3 rounded-lg bg-slate-900 px-3 py-1 text-base uppercase text-white hover:bg-slate-700 xl:text-lg dark:bg-white dark:text-black dark:hover:bg-slate-200"
    >
      <ng-icon name="heroArrowUpTray" size="25" class="" />
      <div>upload</div>
    </button>
    <!-- <div class="flex">
          {errors?.profileImg?.message && (
            <div class="text-red-500 xl:text-lg">
              {errors.profileImg.message}
            </div>
          )}
        </div> -->
  </div>
</form>
